.main-container{
    position: relative;
    padding-bottom: 10rem;
    background-color: white;
}
/* Banner */
.banner{
    position: relative;
    text-align: center;
    color: #fff;
    font-family: 'Quicksand',sans-serif;
    background-image: url("../images/banner-nq.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll; 
    background-size: 100% 100%;
    height: 250px;
    width: auto;
}

.banner-card{
    position: absolute;
    bottom: 6rem;
    left: 15rem;
}

.banner-card h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0;
}

.card-breadcrumb a{
    padding: 0 5px;
    font-size: 13px;
    color: #fff!important;
    text-decoration: none;
    text-transform: uppercase;
}

.card-title{
    margin-bottom: 0;
}
@media screen and (max-width:960px){
    .banner-card{
        left: 1.5rem;
    }
    .banner-card h1{
        font-size: 27px;
    }

    .banner img{
        height: 20rem;
        width: 250%;
    }

    .banner{
        background-image: url("../images/banner-nq.jpg");
        background-position: center;
        background-size: 287% 100%; 
       
    }

}
/* MAIN */

/* SEC 1 */
#margin-one{
    margin-left: 30%;
}

#margin-three{
    margin-right: 3rem;
    margin-left: 0;
}

.franchise-intro-column div{
    width: 19%;
    padding: 5px;
    float: left;
    margin-left: 2rem;
}

.franchise-intro-column{
    text-align: center;
}

.franchise-intro-column img{
    height: 130px;
    width: auto;
}

.franchise-intro-column p{
	font-size: 13px;
}

.franchise-intro{
    font-family: 'Quicksand',sans-serif;
    text-align: center;
    padding-top: 6rem;
}

.section{
    margin-bottom: 100px;
}

@media screen and (max-width:960px){
    .section{
        margin-bottom: 50px!important;
    }    

    #margin-one{
        margin-left: 20%;
    }

    #margin-three{
        margin-left: 29%;
    }
}

@media screen and (max-width: 500px){
    .section{
        margin-bottom: 50px!important;
    }

    #margin-one{
        margin-left: 10%;
        
    }

    #margin-three{
        margin-left: 18%;
    }

    .franchise-intro-column div{
        width: 20%;
    }
}

.site-card {
    position: relative;
}

.site-card h2 {
    font-size: 2rem;
    color: #d29f43;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.2em;
}

/* SEC 2 */
.container img{
    height: 365px;
    width: 386.66px;
}

.franchise-benefit-thumb{
    height: 100%;
    width: 386.66px;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 25%;
}

.franchise-benefit-card{
    margin-left: 10%;
}

@media screen and (max-width:960px){
    .franchise-benefit-card{
        margin-left: 15%;
    }

    .franchise-benefit-thumb{
        margin-left: 15%;
    }

    
}
.franchise-benefit-card li{
    margin-bottom: 25px;
    color: darkgray;
}

.franchise-benefit-card ul{
    list-style: none;
}

.franchise-benefit-card ul li::before{
    content: "\2022";
    color: #d29f43;
    font-weight: bold;
    width: 1em;
    font-size: 1.5em;
    float: left;
}



/* SEC 3 */
.franchise-model{
    background-color: #eee8df;
    padding: 50px 0;
}

.franchise-model-card{
    width: 220px;
}
.franchise-model-card img{
    margin-bottom: 15px;
    border-radius: 15px;
	width: 220px;
    height: 163.36px;
}
.franchise-model-card h3{
    color: #d9a953;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
.franchise-model-card p{
    margin-bottom: 0;
    line-height: 1.3em;
    font-size: 14px;
    text-align: left;
}

@media screen and (max-width:960px){
   .franchise-model-card{
        margin-bottom: 30px;
    }


    #col3{
        margin-left: 20%;
    }

    #col3 img{
        width: 25rem;
        height: auto;
    }
}

.site-card h2 {
    font-size: 2rem;
    color: #d29f43;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.2em;
}

/* SEC 4 */
/* //Chinh mau */
.franchise-process-card{
    height: 170px;
    margin: 15px;
    position: relative;
    float: left;
    border-radius: 15px;
    overflow: hidden;
}
.franchise-process-card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: rgba(217, 169, 83, .8);
    z-index: 1;
}
/* Anh */
.franchise-process-1 div:nth-child(1){
    background-image: url("../images/img-nhuongq/process1.jpg");
    
}
.franchise-process-1 div:nth-child(2){
    background-image: url("../images/img-nhuongq/process2.jpg");

}
.franchise-process-2 div:nth-child(1){
    background-image: url("../images/img-nhuongq/process3.jpg");
    
}
.franchise-process-2 div:nth-child(2){
    background-image: url("../images/img-nhuongq/process4.jpg");
    
}
.franchise-process-3 div:nth-child(1){
    background-image: url("../images/img-nhuongq/process5.jpg");
    
}
.franchise-process-3 div:nth-child(2){
    background-image: url("../images/img-nhuongq/process6.jpg");
}
.franchise-process-4 div:nth-child(1){
    background-image: url("../images/img-nhuongq/process7.jpg");
    
}
.franchise-process-4 div:nth-child(2){
    background-image: url("../images/img-nhuongq/process8.jpg");
    
}

.site-card {
    position: relative;
    width: 230px;
}


.site-card h3 {
    font-size: 15px;
    margin-bottom: 0;
    color: #d29f43;
}

.franchise-process-card p, .franchise-process-card h3{
    color: #fff;
    z-index: 3;
    text-align: center;
    width: 100%;
}
.franchise-process-card h3{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 20px;
    font-weight: 500;
}
.franchise-process-card p{
    position: absolute;
    top: 30px;
    left: 0;
}
/* Video */

.franchise-video{
    width: 100%;
    height: auto;
    margin-left: 16rem;
}

.franchise-video iframe{
    width: 34rem;
    height: 23rem;
}


/*CONTACT-FORM CSS*/
.contact-form{
    padding: 30px;
    background-color: #eee8df;
    width: 803px;
    margin-left: 15%;
}


@media screen and (max-width:960px){
    .contact-form{
        width: 400px;
    }

    .video{
        margin-right: 100%;
        width: 300px;
    }

    .franchise-video iframe{
        width: 400px;
    }
}

.contact-form input {
    border: none;
    color: #000;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 20px;
    background-color: #fff;
    position: relative;
    
    margin-top: 10px;
}

.contact-form input:focus {
    background-color: inherit;
    color: #000;
    border: solid 1px #fff;
}
.contact-form select{
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
}

.form-control{
    width: 98%;
}


.radio {
    font-size: 14px;
    color: #999;
}
.radio label{
    margin-right: 15px;
    margin-bottom: 0;
}
.radio input:checked::before {
    background-color: #daa74e;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 3px;
    top: 3px;
}

.contact-form button:hover {
    background-color: #fff;
    border-color: #c26c4b;
    float: right;
    cursor: pointer;
    color: #000;
}

.contact-form button:nth-child(1) {
    margin-right: 30px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.contact-form button {
    background-color: #daa74e;
    border: solid 2px #daa74e;
    border-radius: 20px;
    float: right;
    padding: 5px 30px;
    font-size: 13px;
    margin-top: 15px;
}









